


body {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


h1{
    background-color: lightgrey;
    border: 15px solid white;
    padding: 10px;
    margin: 20px;
    width: 80%;
}


td {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    background-color: beige;
    border: 2px solid teal;
    margin-top: 50px;
    border-collapse: collapse;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}



.endgame{
    display: none;
    top: 60px;
    margin-top: 50px;
    width: 40%;
    height: 10%;
    background-color: darkcyan;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
    text-align: center;
    font-size: xx-large;
    border: 5px solid white;
    padding-top: 2%;
}

